<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>This is home pageeee</h1> 
  <h3><%= link_to "About", about_path %><br> | <%= link_to "AlphaBlog",articles_path %></h3>
  

  


</body>
</html>